$text-color: #636e72;
$btn-search: #71b8b5;
// $btn-search: #82ccdd;
$btn-hover-serch: rgb(153, 194, 197);

html {
    font-size: 62.5%;
}

body {
    background-color: #f4fcd92d;
    // font-family: 'Times New Roman', Times, serif;
    font-family: 'Lato', sans-serif;
}

@import '../css/modun/header';
@import '../css/modun/slide_input';
@import '../css/modun/top_destinations';
@import '../css/modun/single_hotel';
@import '../css/modun/recent';
@import '../css/modun/mapgoogle';

.my_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text_small {
    color: $text-color;
    font-size: 1.7rem !important;
}