header {
    height: 68px;

    .header_left {
        width: 100%;
        padding: 10px 15px;
        position: fixed;
        background-color: #f8fcfcb9;
        z-index: 999999;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .header-logo {
            width: 5%;

            img {
                width: 100%;
                height: auto;
            }

            margin: 0 2% 0 0;
        }

        .header-menu {
            width: 100%;
            font-size: 2rem;
            padding: 0 1%;
            border-left: 1px solid #b2bec3;

            a {
                color: #2d3436;
                text-decoration: none;
                margin-right: 20px;
            }

            a:hover {
                color: $text-color;
            }
        }
    }
}