.center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.hotel_sing{
    p{
        color: rgb(71, 68, 68);
    }
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    .hotel_img{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            border-radius: 5px;
        }
        .left{
            width: 55%;
            padding: 8px;
            img{
                width: 100%;
                height: 683px;
                object-fit: cover;
            }
        }
    
        .right{
            width: 50%;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 220px;
                height: 200px;
                object-fit: cover;
                margin: 5px;
            }
        }
    }
    .hotel_info
    {   
        margin-top: 10px;
        .hotel_title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .hotel_sing-name, .cost_hotel{
            font-size: 4rem;
            font-weight: 500;
            color: $btn-search;
        }
        .des{
            font-size: 1.8rem;
            color: rgb(56, 56, 56);
        }
        .cost_hotel{
            margin-right: 100px;
        }
    }
    h1{
        font-size: 3rem;
        font-weight: 500;
        color: $btn-search;
    }
    .title_comment{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        a{
            text-decoration: none;
        }
        .change_page{
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            .button-next{
                display: flex;
            }
            a{
                margin-right: 20px;
            }
            p{
                text-align: center;
            }
        }
    }
    .block-comments{
        margin-top: 20px;
        .comment_item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.8rem;
            padding: 20px;
            margin: 20px;
            border-radius: 3px;
            .info_user{
                width: 15%;
                margin-left: 30px;
                .name_user{
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
            .content{
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .content_text{
                    width: 80%;
                }
                .label{
                    font-weight: 500;
                    color: black;
                }
                .rate_scope{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                   
                    .scope{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        background-color: aquamarine; 
                        border-radius: 5px;  
                    }
                }
            }
        }
    }
}