.top_destinations{
    margin-top: 200px;
    text-align: center;
    p{
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .top_destinations_list{
        display: flex;
        justify-content: center;
        align-items: center;
        .top_destinations_list-item{
            margin-left: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                padding: 0;
                margin: 0;
                margin-top: 10px;
            }
            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }
            .name{
                font-size: 1.8rem;
            }
            .des{
                font-size: 1.5rem;
                color: #5d6364;
            }
        }
        .top_destinations_list-item:hover img{
            transform: scale(1.05);
            transition: 0.15s;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
        }
    }
}